[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
praw = "*"
pytz = "*"
discord-logging = {git = "https://github.com/Watchful1/DiscordLogging.git"}
parsedatetime = "*"
python-dateutil = "*"
sqlalchemy = "*"
praw-wrapper = {git = "https://github.com/Watchful1/PrawWrapper.git"}
dateparser = {editable = true,git = "https://github.com/Watchful1/dateparser.git",ref = "features"}

[requires]
python_version = "3.7"
