[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
praw = "*"
pytz = "*"
discord-logging = {git = "https://github.com/Watchful1/DiscordLogging.git"}
parsedatetime = "*"
dateparser = {git = "https://github.com/Watchful1/dateparser.git"}

[requires]
python_version = "3.7"
